.Home {
  text-align: center;
}

.Home-header {
  background-color: #00b0b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(32px + 2vmin);
  color: white;
  font-style: italic;
}

.Home-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-links div {
  padding: 10px;
  cursor: pointer;
  color: darkolivegreen;
  font-weight: 500;
  font-size: large;
}

.searchMovie {
  padding: 10px;
  margin: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  width: 300px;
}